@mixin generate-sized-buttons {
  &.small {
    font-size: var(--text-s, 12px);
    height: auto;
    padding: var(--spacing-s, 8px) var(--spacing-m, 16px);

    &.circle {
      height: 48px;
      width: 48px;
    }
  }

  &.medium {
    font-size: var(--text-m, 16px);
    padding: var(--spacing-sm, 12px) var(--spacing-ml, 24px);
  }

  &.large {
    font-size: var(--text-l, 20px);
    height: auto;
    padding: var(--spacing-m, 16px) var(--spacing-ml, 24px);
  }
}